@model SoccerBet.App.ViewModels.BetListUserViewModel
@{
    ViewData["Title"] = "ListBet";
}

<h1>Meus Palpites</h1>

@if (Model.ListBets != null)
{
    foreach (var item in Model.ListBets)
    {
        <div class="card text-center">

            <div class="card-body">
                <p class="card-text">@item.Matchs.CompleteScoreBoard</p>
            </div>
            <div class="card-footer text-muted">
                @if(item.HitBet.HasValue && item.HitBet.Value == true)
                {
                    <p>Acertou</p>
                }
            </div>
        </div>
        <br />
    }
}

