@model SoccerBet.App.ViewModels.LeagueViewModel
@{
    ViewData["Title"] = "Home Page";
}


    <div class="container">
        <div class="row">
            @foreach(var item in Model.Leagues)
            {
            <div class="col-xl-6">
                <br/>
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="~/images/@String.Concat(item.Country,".png")" alt="Card image cap" height="286" width="160">
                    <div class="card-body">
                        <div class="text-center">
                             <a class="btn btn-primary" asp-action="Match" asp-route-id="@item.Id">Jogos</a>
                        </div>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>

