@model SoccerBet.App.ViewModels.LoginViewModel
@{
    ViewData["Title"] = "Index";
}

    <form asp-action="Login">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input asp-for="Email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email">
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input asp-for="Password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Senha">
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Lembrar</label>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>

